In [20]:
import pandas as pd
# Read in data and display first 5 rows
features = pd.read_csv('regress.csv')
features.head(5)

,Unnamed: 0,G,GP,M,M/PG,NC-17,Not Yet Rated,PG,PG-13,R,...,War,Western,Musical,News,Opening_Weekend,avg_pos,avg_neg,no_pos_comms,no_neg_comms,budget2
0,0,0,0,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,55761,0.548040,-0.549934,2075,1400,1722
1,1,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,24120,0.596535,-0.535067,100,30,16985
2,2,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,24727437,0.547978,-0.533019,3084,2080,18063614
3,3,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,22707,0.561408,-0.522725,2244,1224,17358
4,4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,3516,0.536705,-0.529111,1475,1415,934

In [21]:
print('The shape of our features is:', features.shape)

The shape of our features is: (1226, 45)

In [22]:
# Descriptive statistics for each column
features.describe()

,Unnamed: 0,G,GP,M,M/PG,NC-17,Not Yet Rated,PG,PG-13,R,...,War,Western,Musical,News,Opening_Weekend,avg_pos,avg_neg,no_pos_comms,no_neg_comms,budget2
count,1226.000000,1226.000000,1226.0,1226.0,1226.0,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,...,1226.000000,1226.000000,1226.000000,1226.000000,1.226000e+03,1225.000000,1221.000000,1226.000000,1226.000000,1.226000e+03
mean,612.500000,0.008972,0.0,0.0,0.0,0.001631,0.007341,0.106852,0.241436,0.311582,...,0.019576,0.004078,0.006525,0.003263,8.662315e+06,0.555707,-0.503006,3832.053834,2093.355628,1.888691e+07
std,354.060023,0.094335,0.0,0.0,0.0,0.040373,0.085399,0.309050,0.428128,0.463329,...,0.138594,0.063757,0.080548,0.057050,2.172673e+07,0.030714,0.045202,3432.140504,1918.941801,4.347713e+07
min,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.394783,-0.932500,0.000000,0.000000,0.000000e+00
25%,306.250000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,8.995500e+03,0.537735,-0.519845,1481.250000,797.000000,3.663000e+03
50%,612.500000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,5.230750e+04,0.554458,-0.499713,3258.000000,1720.000000,2.502350e+04
75%,918.750000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,7.986288e+06,0.571131,-0.480929,5370.000000,2895.000000,1.276293e+07
max,1225.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.088063e+08,0.812850,-0.226750,39340.000000,21945.000000,2.600000e+08

In [23]:
features.columns

Index(['Unnamed: 0', 'G', 'GP', 'M', 'M/PG', 'NC-17', 'Not Yet Rated', 'PG',
       'PG-13', 'R', 'Unknown', 'Unrated', 'X', 'averageRating', 'numVotes',
       'runtimeMinutes', 'box office', 'Action', 'Crime', 'Drama', 'Adventure',
       'Romance', 'Comedy', 'Sci-Fi', 'Animation', 'Family', 'Thriller',
       'Horror', 'Mystery', 'Biography', 'History', 'Fantasy', 'Sport',
       'Music', 'Documentary', 'War', 'Western', 'Musical', 'News',
       'Opening_Weekend', 'avg_pos', 'avg_neg', 'no_pos_comms', 'no_neg_comms',
       'budget2'],
      dtype='object')

### Data preprocessing

In [24]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['box office'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('box office', axis = 1)
#features= features.drop('Unnamed: 0', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)

In [50]:
# Replace any NaN values in features with zero
from numpy import *
where_are_NaNs = isnan(features)
features[where_are_NaNs] = 0

In [49]:
# Replace any NaN values in labels with zero
from numpy import *
where_are_NaNs = isnan(labels)
labels[where_are_NaNs] = 0

### Split the data

In [51]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [52]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (919, 44)
Training Labels Shape: (919,)
Testing Features Shape: (307, 44)
Testing Labels Shape: (307,)

### Random Forest Regression Model

In [53]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

In [54]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [55]:
# Train the model on training data
rf.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [56]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 7755673.78 degrees.

In [59]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: -2613.23 %.

In [61]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

ModuleNotFoundError: No module named 'pydot'